body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

/*h2{
  font-family:'Montserrat-bold', sans-serif;
  text-align:center;
  font-size: 3.5rem;
  line-height: 1;
  margin: 7% 15%;
  padding-top: 3%;
}*/

h3{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 1.5rem;
}

p{
  font-family: 'Montserrat-light', sans-serif;
  color: #8f8f8f;
}

em{
  font-family: 'Montserrat-bold', sans-serif;
}

/* ................End of html elements .................... */

#title{
  background-color: #ff4c68;
  color: #fff;
  }

.container-fluid{
  padding: 3% 15% 7%;
}

/* Nav Brand icon */

.navbar{
  padding:0 0 5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: 'Montserrat-light';
  font-size: 1.2rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

/* downloadbutton */

.downloadbutton{
  font-family: 'Montserrat-light', sans-serif;
  margin: 5% 3% 5% 0%;
}

/* title-image */

.title-image{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right:20%;
}


/* features */

#features{
  background-color:#fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align:center;
  padding: 5%;
}

/* Icon*/

.custom-class{
  padding-bottom: 5%;
  color: #ef8172;
}

.custom-class:hover{
  color: #ff4c68;
}

/* testimonials */

#testimonials{
  background-color: #ef8172;
  margin: auto;
  text-align:center;
  color: #fff;
  position: static;
}

.testimonial-text{
  font-family:'Montserrat-bold', sans-serif;
  text-align:center;
  font-size: 3.5rem;
  line-height: 1;
  margin: 7% 15%;
  padding-top: 3%;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  padding-bottom: 1%;
  border-radius: 100%;
  margin: 20px;

}

/* press-company logo */

#press{
background-color: #ef8172;
text-align:center;
padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing cards */

#pricing{
  padding: 100px;
  text-align:center;
}

.pricing-column{
  padding: 3% 2%;
}

/* cta section */

#cta{
  background-color: #ef8172;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */

#footer{
  padding: 7% 15%;
  text-align: center;
  }

  .social-icon{
    margin: 20px 10px;
  }

/* media Query- On condition */

@media (max-width:1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
